body{
    margin: 0;
    background-image: url("Picture_20170302_0009.jpg");
    background-size: cover;
}

.top-session{
    color: yellow;
    display: flex;
    justify-content: space-between;
}
.newYearTitle{
    text-align: end;
}

.time-session{
    color: white;
    /* display: flex; */
    /* align-items: flex-end; */
}

table{
    text-align: center;
    position: absolute;
    bottom: 0;
}